/*
* {
    border: 1px solid red !important;
}
*/

/* fontawesome - used for github logo */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

/* Apply a few defualts */
body {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 300;
    background: #f7f7f7;
}

hr {
    border-color: #ddd;
}

p {
    padding: 10px;
}

a {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
}

/* gives all links an interesting blue glow effect */
a:hover {
    text-decoration:none;
    box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
}

.modal-content {
    background-color: #f7f7f7;
    font-size: 15px;
}

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
    padding: 0;
    float: left;
}

.cursor-hand {
    cursor: pointer;
}

.cursor-hand:hover {
    box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
}

.card-container {
    padding: 20px;
}

.card {
    padding: 20px;
    box-shadow: 1px 1px 2px 1px #ddd;
    border-radius: 5px;
    background: #fff;
    align-items: center;
}

.card img {
    border-radius: 5px;
}

.img-circular {
    border-radius: 50%;
}

.img-responsive {
    margin: 0 auto;
}

.img-project-link {
    margin: 0 auto;
    padding: 0;
    border-radius: 5px;
}

.float-left {
    float: left;
}

img, embed, object, video {
    max-width: 100%;
}

/* Adjusting the font sizes with screen sizes */
@media only screen and (max-width: 600px) {
    .title-super {
        font-size: 50px;
    }
    .title-minor {
        font-size: 18px;
    }
}

@media only screen and (max-width: 500px) {
    .title-super {
        font-size: 40px;
    }
    .title-minor {
        font-size: 16px;
    }
    .title-work {
        font-size: 25px;
    }
}

@media only screen and (max-width: 400px) {
    .title-super {
        font-size: 35px;
    }
    .title-minor {
        font-size: 14px;
    }
}